<section id="subfooter">
	<div id="text"><span>Have a project or idea in mind?</span> <span>Let's build it together.</span></div>
	<a href="/contact" class="btn">Contact Me</a>
</section>

<footer>
	<section>
		<ul id="social">
			<li><a href="//facebook.com/smarulanda3" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
			<li><a href="//plus.google.com/+SebastianMarulanda" target="_blank" class="googleplus"><i class="fa fa-google-plus"></i></a></li>
			<li><a href="//twitter.com/smarulanda" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
			<li><a href="//github.com/smarulanda" target="_blank" class="github"><i class="fa fa-github"></i></a></li>
		</ul>
		<div id="made-with">
			Made with <i class="fa fa-heart"></i> in Atlanta by Sebastian.
		</div>
	</section>
</footer>