<article class="post">
	<h4 class="post-meta">
		{{ post.date | date: "%b %-d, %Y" }}
	</h4>

	<h1 class="post-title">
		<a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
	</h1>

	{{ post.excerpt }}
	
	<div class="post-extras">
		<div class="tags">
			<span class="gray-color">
				<i class="fa fa-tags fa-fw"></i>
				Tags: 
			</span>
			
			{% for category in post.categories %}
				<a href="/category/{{ category }}">{{ category }}</a>{% if forloop.last != true %},{% endif %}
			{% endfor %}
		</div>
		
		{% if post.project_link %}
			<div class="project">
				<span class="gray-color">
					<i class="fa fa-github fa-fw"></i>
					Project:
				</span>
				<a href="{{ post.project_link}}">{{ post.project_link }}</a>
			</div>
		{% endif %}	
	</div>
</article>