%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

body {
	font-size: $large-font-size;
}

header {
	z-index: 1;
	background: #fff;
	border-bottom: 1px solid $border-color;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	nav {
		max-width: calc(100% - (#{$spacing-unit} * 4));
		margin: 0 auto;

		a {
			text-transform: uppercase;
			color: $text-color;

			&:hover {
				color: $text-color;
			}
		}

		h1 {
			float: left;
			font-size: $base-font-size * 1.5;
			margin: 0;
			margin-top: 18px;
		}

		button {
			display: none;
		}

		ul {
			float: right;
			list-style-type: none;
			padding: 0;
			margin: (1.2 * $base-font-size) 0;

			li {
				display: inline;

				a {
					font-family: 'Oswald', sans-serif;
					display: inline-block;
					padding: 4px 12px;
					transition: background 0.2s linear;

					&:hover, &:focus {
						background: $primary-color;
			 			color: #fff;
					}
				}
			}
		}

		@extend %clearfix;
	}
}

main {
	max-width: $content-width;
	margin: 0 auto;
	margin-top: $spacing-unit * 4;
	padding: $spacing-unit * 2;
	background: #fff;
	border: 1px solid $border-color;
}

.post {
	&:not(:last-child) {
		margin-bottom: $spacing-unit;
	}

	.post-meta {
		text-transform: uppercase;
		color: $gray-color;
		margin-bottom: 0;
	}

	.post-extras {
		color: $gray-color;
	}
}

#about {
	img {
		max-width: 33%;
		float: left;
		margin-right: $base-font-size;
	}
}

#contact {
	input[type="text"], textarea {
		width: 100%;
		border: none;
		background: $background-color;
		padding: $base-font-size;
		transition: background 0.2s linear;

		&:hover, &:focus {
			background: darken($background-color, 5%);
		}
	}

	#gotcha {
		display: none;
	}
}

#subfooter {
	background: $gray-color-dark;
	text-align: center;
	margin-top: $spacing-unit * 2;
	padding: ($spacing-unit * 2) 0;
	
	#text {
		color: #fff;
		font-size: $base-font-size * 1.2;
		margin-bottom: $spacing-unit;
	}
}

footer {
	width: 100%;
	padding: ($base-font-size) 0;

	section {
		max-width: calc(100% - (#{$spacing-unit} * 4));
		margin: 0 auto;

		#copyright {
			margin-top: 4px;
			color: $gray-color;
			float: left;
			//i { color: #da766b; }
		}

		ul#social {
			float: right;
			list-style-type: none;
			margin: 0;

			li {
				display: inline;
				margin-left: 12px;

				a {
					font-size: $large-font-size;
					color: $gray-color;

					@each $brand, $color in $social-colors {
						&.#{$brand}:focus,
						&.#{$brand}:hover {
							color: $color;
						}
					}
				}
			}
		}

		@extend %clearfix;
	}
}