---
layout: default
---
<section class="post">
	<article class="post-header">
		<h4 class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</h4>
		<h1 class="post-title">{{ page.title }}</h1>
	</article>

	<article class="post-content">
		{{ content }}
	</article>
	
	{% if page.categories %}
		<article>
			<h2>More posts about</h2>
			<ul>
				{% for category in page.categories %}
					<li>
						<a href="/category/{{ category }}">{{ category }}</a>
					</li>
				{% endfor %}
			</ul>
		</article>
	{% endif %}
</section>